     
 <!doctype html>
<title>{% block title %}{% endblock %}Brijesh</title>
<head>
<link rel="stylesheet" href="designn\style.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 <style>
  h1{
    color: blue;
    text-align: center;
  },
  button{
    text-align: center;
  },
  #bbb{
    text-align:center;
  },
  .row{
    align-content: "center"
  },
  .label{
    color: 'white';
  }

 </style>
</head>
<section class="content">

      <h1  >Fun Survey</h1>
      <hr></hr>


  <header>
  
    {% block header %}{% endblock %}
    
  </header>

</section>
{%block footer%}
<h6>all the data collection with user consent</h6>
 {%endblock%}