{% extends "partials/header.html"%}
{%block header%}
<div style="background-color:#2deeee;margin-left:25%;margin-right:25%;margin-top:8%;margin-bottom:8% ">
<form  id="" class="was-validated"  action="/index" method="post">

  <div class="row" >
  <div class=" col" style='margin-left:0%;' >
  <label for="fname">first name:</label><br>
  <input type="text" id="fname" name="fname" class="form-control" required><br>
  <div class="invalid-feedback">
        fill the content
  </div>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="fname1">Age:</label><br>
  <input type="text" id="fname1" name="fname1" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="lname1">sex:</label><br>
  <input type="text" id="lname1" name="lname1" class="form-control" required><br>
 <div class="invalid-feedback">
        fill the content
  </div>
  <label for="fname2">fav No.(1 to 10):</label><br>
  <input type="text" id="fname2" name="fname2" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="lname2">fav letter(A-Z):</label><br>
  <input type="text" id="lname2" name="lname2" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="first3">fav Country:</label><br>
  <input type="text" id="fname3" name="fname3" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="lname3">fav Color:</label><br>
  <input type="text" id="lname3" name="lname3" class="form-control" required><br>
 <div class="invalid-feedback">
        fill the content
  </div>
   <label for="fname4">fav actor:</label><br>
  <input type="text" id="fname4" name="fname4" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="lname4">fav actress:</label><br>
  <input type="text" id="lname4" name="lname4" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="first5">fav movie:</label><br>
  <input type="text" id="fname5" name="fname5" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="lname5">fav novel:</label><br>
  <input type="text" id="lname5" name="lname5" class="form-control" required><br>
 <div class="invalid-feedback">
        fill the content
  </div>
  <label for="fname6">fav profession:</label><br>
  <input type="text" id="fname6" name="fname6" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="lname6">fav crickter:</label><br>
  <input type="text" id="lname6" name="lname6" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="first7">fav state of india:</label><br>
  <input type="text" id="fname7" name="fname7" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
  <label for="lname7">fav book:</label><br>
  <input type="text" id="lname7" name="lname7" class="form-control" required><br>
   <div class="invalid-feedback">
        fill the content
  </div>
 </div> 
</div>
  <hr></hr>
  <div style="text-align:center;"><input type="submit"  value="Submit">
  </div>
</form>
</div>
<div style="background-color:#2deeee;margin-left:25%;margin-right:25%;margin-top:8%;margin-bottom:8%">
 <h6>Press the button to meet admins!</h6> 
 <button style="color:hotpink;"><a href="admin">admin</a></button>
</div>
{%block footer%}{%endblock%}
{%endblock%}
