{% extends 'partials/header.html' %}


{%block header%}
   <div class="table-responsive">
    <table style="width:100%" class="table table-bordered table-hover">
    	<thead class="thead-dark">
  <tr>
    <th>id</th>
    <th>Age</th>
    <th>fav_actor</th>
    <th>fav_actress</th>
    <th>fav_book</th>
    <th>fav_color</th>
    <th>fav_country</th>
    <th>fav_cricketer</th>
    <th>fav_letter</th>
    <th>fav_movie</th>
    <th>fav_number</th>
    
    <th>fav_profession</th>
    
    <th>fav_state</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>sex</th>
  </tr>
</thead>
   <tr>
    <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["_id"][n]}}</h6>
  {%endfor%}</td>
    <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["age"][n]}}</h6>
  {%endfor%}</td>
   <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_actor"][n]}}</h6>
  {%endfor%}</td>
    <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_actress"][n]}}</h6>
  {%endfor%}</td>
   <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_book"][n]}}</h6>
  {%endfor%}</td>
    <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_color"][n]}}</h6>
  {%endfor%}</td>
   <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_country"][n]}}</h6>
  {%endfor%}</td>
    <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_cricketer"][n]}}</h6>
  {%endfor%}</td>
   <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_letter"][n]}}</h6>
  {%endfor%}</td>
    <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_movie"][n]}}</h6>
  {%endfor%}</td>
   <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_no"][n]}}</h6>
  {%endfor%}</td>
    <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_profession"][n]}}</h6>
  {%endfor%}</td>
   <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["fav_state"][n]}}</h6>
  {%endfor%}</td>
    <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["firstname"][n]}}</h6>
  {%endfor%}</td>
   <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["lastname"][n]}}</h6>
  {%endfor%}</td>
    <td>{%for n in range(0,data['age'].count())%}
  <h6>{{data["sex"][n]}}</h6>
  {%endfor%}</td>
  </tr>

  
    
  
  
  
  
  </table>
</div>
      
     
     
 
{%endblock%}
